
.sticker {
    position: absolute;
    bottom: 0; /* Aligns the image to the bottom */
    right: 0; /* Aligns the image to the right */
    width: 300px; /* Set the image size, adjust as needed */
    height: auto;
}


.models {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-55%, -50%); /* Center the image exactly */
    width: 38rem;
    height: auto;
}


